.places{
  padding: 92px 0 0;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1050px) {
  .places{
    padding: 92px 48px 0;
  }
}

@media screen and (max-width: 770px) {
  .places{
    padding: 92px 24px 0;
  }
}

@media screen and (max-width: 350px) {
  .places{
    padding: 64px 0 0;
  }
}
