.header{
  display: flex;
  justify-content: space-between;
  padding: 28px 0px 56px;
  margin: 0 auto;
  position: relative;
  max-width: 1184px;
}

@media (max-width : 1200px) {
  .header{
    padding: 28px 48px 56px;
  }
}

@media (max-width : 1050px) {
  .header{
    padding: 28px 24px 48px;
  }
}

@media (max-width : 770px) {
  .header{
    padding: 28px 24px 48px;
  }
}

@media (max-width : 350px) {
  .header{
    padding: 16px 16px 56px;
  }
}
