.lead__image{
  /*margin: 0 auto;
  width: 984px;
  height: 615px;
  position: relative;
  background-image: url(../../../images/lead__image-optimized.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;*/
  width: 100%;
  height: auto;
  max-width: 984px;
}
