@import url('../vendor/normalize.css');
@import url('../fonts/inter.css');

.body{
  background-color: #2A2C2F;
}

.page{
  xmin-width: 320px;
  xmax-width: 1184px;
  xpadding: 0 48px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  xposition: relative;
  xbackground-color: green;
  xalign-items: center;
  xjustify-content: center;
  xdisplay: flex;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 28px 0px 56px;
  margin: 0 auto;
  position: relative;
  max-width: 1184px;
}

.heder__logo{
  width: 176px;
  height: 52px;;
}

.header__lang-links{
  margin-top: 28px;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
}

.header__lang-link{
  color: #fff;
  margin-left: 18px;
  text-decoration: none;
}

.header__lang-link_active{
  text-decoration: underline;
}

.lead{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 984px;
  xbackground-color: greenyellow;
}

.lead__title{
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
}

.lead__subtitle{
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  line-height: 36x;
  font-weight: normal;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  padding: 32px 0 64px;
}

.lead__image{
  margin: 0 auto;
  width: 984px;
  height: 615px;
  xpadding-top: 64px;
  position: relative;
  background-image: url(../images/kalegin-michail-179870-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  xtext-align: center;
  xjustify-self: center;
}

.lead__path{
  position: absolute;
  xtop: 20%;
  bottom: 262px;
  left: 3%;
}

.lead__caption{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #fff;
  xletter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.intro{
  width: 984px;
  xmax-width: 690px;
  padding: 92px 0 0;
  margin: 0 auto;
  text-align: left;
  xbackground-color: greenyellow;
}

.intro__title{
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #fff;
  margin: 0;
}

.intro__text{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  max-width: 690px;
  margin: 0;
  padding-top: 40px;
}

.intro__list{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 33px 0 92px 0;
  padding: 0;
  list-style-type: none;
}

.intro__list_weight_normal{
  font-weight: normal;
}


.photo-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, 284px);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  xmargin: 0 auto;
  justify-content: center;
  xalign-content: center;
  max-width: 1184px;
  margin: 0 auto;
}

.photo-grid__item{
  width: 284px;
  height: 213px;
}


.places{
  padding: 88px 0 0;
  max-width: 1184px;
  margin: 0 auto;
}

.places__place{
  display: grid;
  grid-template-columns: repeat(auto-fill, 484px);
  grid-template-rows:  auto auto;
  gap: 48px 40px;
  padding-bottom: 80px;
  justify-content: center;
}

.places__title{
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  margin: 0;
}

.places__website{
  align-self:flex-end;
}

.places__url-heading{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

.places__link{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.places__image{
  width: 460px;
  height: 460px;
}

.places__text{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;

}

.places__paragraph{
  margin: 0 0 26px 0;
}


.cover{
  display: block;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  xmin-height: 790px;
  margin-top: 12px;
  margin-bottom: 92px;
  max-width: 1184px;
  height: 740px;
  margin: 0 auto;
}
.cover__overlay{
  background-color: rgb(42, 44, 47, .7);
  height: 100%;
}

.cover__title{
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
  color: #FFFFFF;
  width: 560px;
  padding: 245px 0 32px;
  margin: 0 auto;
}

.cover__subtitle{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  color: #FFFFFF;
  width: 360px;
  margin: 0 auto;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 92px 0px 24px;
  margin: 0 auto;
  xposition: relative;
  max-width: 1184px;
}

.footer__links{
  display: block;
}

.footer__link{
  margin-right: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */
  color: #FFFFFF;
  text-decoration: none;
}

.footer__copyright{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
/* identical to box height, or 114% */
color: #FFFFFF;
  text-align: right;
}
