.lead__caption{
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 8px 0 0;
  letter-spacing: 0.15em;
}

@media (max-width : 770px) {
  .lead__caption{
    padding-left: 16px;
  }
}


@media (max-width : 350px) {
  .lead__caption{
    padding-left: 16px;
  }
}
