.header__lang-links{
  list-style-type: none;
  margin: 18px 0 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  display: flex;
  justify-content: right;
}

@media screen and (max-width: 350px) {
  .header__lang-links{
    margin-top: 12px;
    font-size: 18px;
    line-height: 20px;
  }
}
